{% block resource_locator_widget %}
<div id="{{ id|raw }}"
     class="preview-update trigger-save-button"
     data-property='{{ property|json_encode }}' 
     data-mapper-property="{{ name }}"
     data-form="true"
     data-type="resourceLocator"
     data-aura-component="resource-locator@sulucontent"
     data-type-instance-name="{{ id }}"
     data-aura-history-api="/admin/api/nodes/<%=content.id%>/resourcelocators?language={{ locale }}&webspace={{ webspace }}"
     data-aura-content-id="<%=options.id%>"
     {% if property.required %}data-validation-required="true"{% endif %}
>
</div>
{% endblock %}

{% block text_area_widget %}
<textarea id="{{ id|raw }}"
          data-property='{{ property|json_encode }}'
          class="form-element preview-update trigger-save-button hide-in-sortmode"
    data-mapper-property="{{ name }}"
    {% if placeholder[locale] is defined %}
    placeholder="{{ placeholder[locale] }}"
    {% endif %}
    {% if property.required %}data-validation-required="true"{% endif %}
/>
{% endblock %}

{% block text_line_widget %}
<textarea id="{{ id|raw }}"
    data-property='{{ property|json_encode }}'
    class="form-element preview-update trigger-save-button hide-in-sortmode"
    data-mapper-property="{{ name }}"
    {% if placeholder[locale] is defined %}
    placeholder="{{ placeholder[locale] }}"
    {% endif %}
    {% if property.required %}data-validation-required="true"{% endif %}>
</textarea>
{% endblock %}

{% block text_editor_widget %}
<textarea id="{{ id|raw }}"
    data-property='{{ property|json_encode }}'
    class="form-element hidden"
    data-type="textEditor"
    data-type-instance-name="{{ id }}"
    data-aura-component="ckeditor@husky"
    data-aura-height="300"
    data-aura-god-mode="{{ god_mode ? 'true' : 'false' }}"
    data-aura-table-enabled="{{ table_enable.asd ? 'true' : 'false' }}"
    data-aura-links-enabled="{{ links_enabled ? 'true' : 'false' }}"
    data-aura-paste-from-word="{{ paste_from_word ? 'true' : 'false' }}"
    data-mapper-property="{{ name }}"
    data-aura-instance-name="{{ name }}"
    {% if placeholder[locale] is defined %}
    placeholder="{{ placeholder[locale] }}"
    {% endif %}
/>
{% endblock %}

{%- block form_label -%}
    <label for="title" class="pointer required" title="">
        {% if label[locale] is defined %}
            {{ label[locale] }}
        {% else %}
            {{ label|first }}
        {% endif %}
    </label>
{%- endblock form_label -%}

{% block block_widget %}
<div id="{{ id|raw }}"
      data-property='{{ property|json_encode }}'
    data-mapper-property="{{ name }}"
>
</div>
{% endblock %}

{% block property_collection_widget %}
    {% if multiple %}
    <!-- I AM MULTIPLE -->
    {% else %}
    <!-- I AM NOT MULTIPLE -->
    {% endif %}
    {{ form_widget(prototype) }}
{% endblock %}

{%- block form_row -%}
    <div class="grid-col-12 floating form-group">
        {{- form_label(form) -}}
        {{- form_errors(form) -}}
        {{- form_widget(form) -}}
    </div>
{%- endblock form_row -%}
